.aboutUs {
    font-family: $font-main;
    color: $black;
    margin-top: 86px;
    font-size: 16px;
    text-align: center;
}

.p1 {
    margin-top: 3px;
    padding-left: 15px;
    padding-right: 15px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding : 10px;
}

.grid-item {
    padding: 40px;
}

.name {
    padding: 10px;
    font-size: 23px;
}
