.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background: $white;
  color: $black;
  font-family: &$font-main;
}
.footer_link {
  text-decoration: none;
  color: $primary;
}
.footer_button {
  position: fixed !important;
  bottom: 20px !important;
  right: 20px !important;
  background-color: $lightgrey !important;
}
.footer_button_text {
  margin-left: 2px;
  @media screen and (max-width: $sm) {
    display: none !important;
  }
}
