.gallery{
  max-height: 800px;
}
.hotel{
  padding-top: 64px;
}
.hotel_details{
  max-width: 1080px;
  margin-top: 10px;
  margin-left: auto !important;
  margin-right: auto !important;
  width: auto !important;
  padding-right: 24px !important;
  padding-left: 24px !important;
}