.payment {
  align-content: center;
  width: 320px;
  padding: 5px;
}

.checkout {
  margin-top: 75px;
  display: flex;
  justify-content: center;
}

.billing-container {
  display: grid;
  grid-template-columns: auto;
  padding: 10px;
  width: 100px;
}

.billing-item {
  padding: 5px;
  background-color: #fff;
}

.billing-input {
  height: 30px;
  width: 300px;
  border-radius: 5%;
  border: 1px solid lightgray;
}

.payment_details {
  width: 50%;
}

.p_1 {
  width: 300px;
}
