.banner {
  background-position: 50% 60%;
  background-size: cover;
  background-repeat: no-repeat;

  width: 100%;
  height: 40vh;
}

.emphasis {
  color: $primary;
}

.progress1 {
  color: $primary !important;
  margin: auto !important;
}
.progress2 {
  position: absolute;
  color: $lightgrey !important;
  margin: auto !important;
}

.percentage {
  z-index: 20;
  width: 100%;
  margin: auto;
  text-align: center;
  font-size: 48px;
  position: absolute;
  top: 68vh;
  color: $primary;
}

.information {
  margin: 10px;
}
