.page_content {
  margin-top: 70px;
  display: flex;
}
.search_results {
  float: left;
}
.hotels {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.map_switch {
  margin-top: 70px;
}

.map {
  float: right;
  width: 150%;
  margin-right: 10px;
}
