.gallery{
  max-height: 800px;
}
.hotel{
  padding-top: 64px;
  @media screen and(min-width: $xs) {
    padding-top: 60px;
  }
}
.hotel_details{
  display: flex;
  max-width: 1080px;
  margin-top: 10px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  width: auto !important;
  padding-right: 24px !important;
  padding-left: 24px !important;
}
