.discountedPrice {
  text-decoration: line-through;
  margin-left: 0 !important;
}

.discount {
  color: $primary;
  margin-right: 3px !important;
  margin-bottom: 0 !important;
  font-size: 20px;
}

.booking {
  border: $lightgrey 1px solid;
  padding: 20px;
}
.details {
  width: 65%;
}
.price {
  display: flex;
  margin: 0 0 20px 0;
}
.book_button {
  width: 100% !important;
  font-size: 16px !important;
  font-weight: 800 !important;
  text-transform: none !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
.price_breakdown {
  div {
    display: flex;
    line-height: 20px;

    div {
      text-align: end;
      margin-left: auto;
      margin-right: 0;
    }
  }
}
