.drawerContent {
  margin-top: 126px !important;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
}

.modal {
  position: absolute !important;
}

.pricePopper {
  z-index: 1500 !important;
}

.sliderContainer {
  height: 100px;
  width: 300px;
  margin-top: 5px;
  padding-bottom: 0;
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 16px;
}
