.gallery{
  overflow: hidden !important;
  -webkit-box-align: center !important;
  cursor: pointer;
  display: flex;
  width: 100%;
  position: relative;
  height: 600px;
  max-height: 600px;
}
.gallery_main{
  width: 50%;
  overflow: hidden;

  img{
    height: 100%;
    display:block;
    position: relative;
    left: -50%;
  }
}
.gallery_extra{
  width: 25%;

  div{
    overflow: hidden;
    height: 50%;

    img{
      height: 100%;
      display:block;
      position: relative;
      left: -50%;
    }
  }
}