.header {
  width: 100%;
}
.grow {
  flex-grow: 1;
}
.logo{
  cursor: pointer;
}
.header-right {
  width: 35%;
  height: 100%;
  float: right !important;
}
.header-middle {
  float: left;
  width: 50%;
}
.header_list {
  list-style: none !important;
  height: 100%;
}
.header_list li {
  display: inline-block !important;
  vertical-align: middle;
  height: 100%;
  line-height: 7rem;

  :hover {
    border-bottom: $primary 0.2rem solid;
  }
}

.header_list li div {
  height: 100%;
  box-sizing: border-box;
  font-family: $font-main;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 0.8rem !important;
}
.header_button {
  font-family: $font-main !important;
  padding: 10px 22px !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  box-sizing: border-box;
  border-bottom: 2px solid transparent !important;
  &:hover {
    background-color: #ffffff !important;
    border-bottom: 2px solid #be1e2d !important;
  }
}
.header_button_clear {
  @extend .header_button;
  color: $white !important;
  &:hover {
    background-color: #ffffff00 !important;
    border-bottom: 2px solid $white !important;
  }
}

.inputInput {
  padding: $themePadding !important;
  width: 100%;
  @media screen and (min-width: $sm) {
    width: 20rem;
  }
}
.menuButton {
  margin-left: -0.12rem !important;
  margin-right: 0.2rem !important;
  @media screen and (min-width: $md) {
    display: none !important;
  }
}
.search {
  position: relative;
  border-radius: $borderradius;
  border: 0.1rem $lightgrey solid;
  margin-top: 5px;
  width: 100%;

  @media screen and (min-width: $sm) {
    margin-left: $themePadding * 3;
    width: auto;
    max-width: 600px;
  }
}
.searchIcon {
  width: $themePadding * 9;
  height: 100%;
  position: absolute;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inputRoot {
  color: inherit;
  width: 100%;
}
.sectionDesktop {
  display: none;
  height: 4rem;
  @media screen and (min-width: $md) {
    display: flex;
  }
}
.sectionMobile {
  display: flex;
  @media screen and (min-width: $md) {
    display: none;
  }
}
.drawer_mobile {
  position: relative !important;
  top: 56px !important;
}
.appbar {
  z-index: 1400 !important;
}
.clear {
}
.authenticate_modal {
  position: absolute;
  width: $themePadding * 50;
  background-color: $white;
  padding: $themePadding * 4;
}
.menu_icon {
  display: inline-block;
  cursor: pointer;
  transition-property: -ms-transform, -webkit-transform, transform !important;
  transition-duration: 250ms !important;
  transition-timing-function: ease-in-out !important;
}
.change {
  transform: rotate(180deg);
}
.log_out{
  color: $primary !important;
}
