.hotel-card {
  max-width: 300;
}
.hotel-card-media {
  height: 250;
  width: 300;
}
.hotel-card-text {
  width: 300;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 5px 0px 5px 5px;
}
