.marker {
  display: flex;
  height: 25px;
  width: 50px;
  background-color: $primary;
  border-radius: 5px;
  cursor: pointer;
}

.marker-text {
  color: white;
  text-align: center;
  margin: auto;
  font-weight: bold;
  font-size: 16px;
}
