.room_card {
  //border-radius: 4px;
  //border: $lightgrey solid 1px;
  //padding: 15px;
  cursor: pointer;
  min-width: 100px;
}
.room_type {
  font-weight: 600;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
.active {
  border: $primary solid 1px;
}
.room_card_price{
  margin-left: 10px;
  //float: right;
  //top: -71px;
  //position: relative;
}
.room_card_top{
  display: flex;
  justify-content: space-between;
}
