// Imports
@import "./variables.scss";
@import "./pages/landing";
@import "./pages/aboutUs";
@import "./pages/privacy";
@import "./pages/footer";
@import "./pages/terms";
@import "./ui/header";
@import "./ui/hotel_card";
@import "./ui/hotel_map";
@import "./ui/map_marker";
@import "./ui/header_preview_menu";
@import "./ui/circular_progress";
@import "./ui/rewards_table";
@import "./ui/rewards_tab";
@import "./pages/search";
@import "./ui/filter_bar";
@import "react_dates_overrides";
@import "ui/searchBar";
@import "ui/booking_details";
@import "ui/roomCard";
@import "ui/gallery";
@import "ui/rewards_popper";
@import "./pages/rewards";

* {
  margin: 0;
  padding: 0;
}

html {
  //font-size: 62.5%;
}

body {
  color: $black;
  font-family: $font-main;
  -webkit-font-smoothing: antialiased;
}
