// Imports 
@import '/variables.scss';
@import './pages/landing';
@import './ui/header';

* {
    margin: 0;
    padding: 0;
}

html {
    //font-size: 62.5%;
}

body {
    color: $black;
    font-family: sans-serif;
  }

