@font-face{
    font-family: Cereal;
    src: url(./fonts/AirbnbCereal-Light.WOFF);
    font-weight: 300;
}
@font-face{
    font-family: Cereal;
    src: url(./fonts/AirbnbCereal-Book.WOFF);
    font-weight: normal;
    font-weight: 400;
}
@font-face{
    font-family: Cereal;
    src: url(./fonts/AirbnbCereal-Medium.WOFF);
    font-weight: 500;
}
@font-face{
    font-family: Cereal;
    src: url(./fonts/AirbnbCereal-Bold.WOFF);
    font-weight: bold;
    font-weight: 600;
}
@font-face{
    font-family: Cereal;
    src: url(./fonts/AirbnbCereal-ExtraBold.WOFF);
    font-weight: bolder;
    font-weight: 700;
}
@font-face{
    font-family: Cereal;
    src: url(./fonts/AirbnbCereal-Black.WOFF);
    font-weight: 800;
}

// Colors
$primary: #BE1E2D;
$white: #FFFFFF;
$black: #1c1c1c;
$grey: #505050;
$lightgrey: #E1E1E1;

// Fonts
$font-main: 'Cereal', Helvetica, sans-serif;

//Shadows
$defaultShadow: 0 16px 40px rgba(0,0,0,0.12) !important;

//Padding
$themePadding: .8rem;

//Break Points
$xs: 0px;
$sm: 600px;
$md: 960px;
$lg: 1280px;
$xl: 1920px;

// Border Radius
$borderradius: .4rem;

//Text Fields
